.primary-layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.registration-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.video-container {
  flex: 0 1 30%;
}

.video-container video {
  width: 100%;
  height: auto;
}

.registration-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 20px;
}

.logo-area img {
  width: 20%;
  height: auto;
  margin-top: 2%;
  margin-left: 50%;
}

.account-creation-section,
.input-section,
/* Assuming .container-agreement was a typo or not used in the JSX. If used, rename appropriately */
.submit-action,
.support-text {
  width: 100%;
  margin-bottom: 20px;
}

.main-title {
  font-weight: 700;
  font-size: 90%;
  margin-top: 0%;
  margin-left: 36%;
}

.input-wrapper label {
  display: block;
  margin-bottom: -2px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
}

.input-wrapper input {
  width: 170%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.input-row-style {
  display: flex;
  gap: 20px;
  margin-left: 20%;
  margin-top: 1.5%;
  margin-bottom: 0.5%;
}

.submit-action {
  padding: 8px 25px;
  width: 150px;
  border-radius: 8px;
  border: 1px solid #007bff; /* Blue border color */
  background-color: #007bff; /* Blue background color */
  color: white; /* Text color */
  font-size: 16px; /* Text size */
  cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
  outline: none; /* Removes the outline to improve the appearance */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for background color and transform */
  margin-left: 20%;
  margin-top: 0%;
}

.submit-action:hover,
.submit-action:focus {
  background-color: #0056b3; /* Darker blue background on hover/focus */
  transform: scale(
    1.05
  ); /* Slightly increases size on hover/focus for feedback */
}

.submit-action:action {
  transform: scale(
    0.95
  ); /* Slightly decreases size when clicked for feedback */
}

.show-button {
  padding: 4px 4px;
  border-radius: 10px;
  border: 1px solid green; /* Blue border color */
  background-color: green; /* Blue background color */
  color: white; /* Text color */
  font-size: 15px; /* Text size */
  cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
  outline: none; /* Removes the outline to improve the appearance */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for background color and transform */
  margin-left: 20%;
  margin-top: 0.5%;
}

.show-button:hover,
.show-button:focus {
  background-color: #0056b3; /* Darker blue background on hover/focus */
  transform: scale(
    1.05
  ); /* Slightly increases size on hover/focus for feedback */
}

.show-button:active {
  transform: scale(
    0.95
  ); /* Slightly decreases size when clicked for feedback */
}

.support-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 100%;
  font-weight: 600;
  margin-top: 2%;
  margin-left: -40px;
}
